{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
      <!-- navbar end -->
      <div class="container mt-5 d-flex justify-content-center">
            <!-- contenir start --> 
            <div class="card text-center">
              <div class="card-header bg-primary text-white">
                <h4 class="card-title bold">Developers Information</h4>
                <pclass="font-weight-normal">In this page you can expoler the information about developers of this website.</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <img class="card-img-top" src="static/images/nilesh.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Nilesh Verma</h5>
                        <p class="card-text">Designer and Developer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <img class="card-img-top" src="static/images/hota.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Dr. H. S. Hota</h5>
                        <p class="card-text">Associate Professor & HOD</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <!-- contenir end --> 
           {% endblock %}